


<div class="container">
  <section

  class="grid"
  >
    <div class="content-grid" *ngFor="let item of booking" >

        <img id="{{item.Car.Images[0].image}}" src="{{item.Car.Images[0].image}}" alt="">

      <div class="footer-image">
        <div>
          <div style="display: flex; flex-direction: column;">
            <label class="desc" >{{item.Car.name}}</label>
            <label class="desc">{{currency(item.Car.price)}}</label>

          </div>
          <div style="display: flex; flex-direction: column; margin-left: 15px;">
            <label class="desc">{{item.Car.color.toUpperCase()}}</label>
            <label class="desc">YEAR {{item.Car.year}}</label>
          </div>
        </div>

      </div>

    </div>
  </section>
</div>
