<div class="iconb" (click)="goToMyCar()" style="position: fixed; right: 20px; z-index: 10;">
  <img height="80px" src="../assets/images/unnamed.png" alt="">
 </div>
<div class="container">
  <mat-grid-list class="content" cols="2" rowHeight="5:1">
    <mat-grid-tile
      (click)="goToCars(item.id)"
      class="card"
      *ngFor="let item of branches"

      >
      <div class="card-body">
        <img id="{{item.name}}" src="{{item.logo}}" alt="">
      <label for="{{item.name}}" >{{item.name}}</label>
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</div>
