.container-m {
  padding: 100px 0px;
}

p {

  list-style: none;
  font-size: 1rem;
  font-family: 'Sora';
}

img {
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 940px;
  margin: 0 auto;
  grid-gap: 40px;
  align-items: center;
}

.grid > div{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card:hover{
  cursor: pointer;
}

.flex > div:hover{
  cursor: pointer;
}

@media (max-width: 710px) {
  .grid {
    /* margin-top: 830px; */
    grid-template-columns: repeat(3, 1fr);

  }
}

@media (max-width: 414px) {
  .grid {
    /* margin-top: 830px; */
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 375px) {
  .grid {
    /* margin-top: 830px; */
    grid-template-columns: repeat(1, 1fr);
    max-width: 360px;
  }
}
