.container {
  padding: 20px 0px;
}

.card{
  border: 1px solid rgb(161, 157, 157);
  background-color: rgb(177, 192, 206);
}

.card-body{
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 20px;
}



.card:hover{
  cursor: pointer;
}

.iconb:hover{
  cursor: pointer;
}
