

  <!-- <mat-grid-list class="content" cols="2" rowHeight="6:1">
    <mat-grid-tile
      (click)="goToCars(item.id)"
      class="card"
      *ngFor="let item of branches"

      >
      <div class="card-body">
        <img id="{{item.name}}" src="{{item.logo}}" alt="">
      <label for="{{item.name}}" >{{item.name}}</label>
      </div>

    </mat-grid-tile>
  </mat-grid-list> -->

<div class="container-m">
  <section

    class="flex"
    >
      <div *ngFor="let item of branches" (click)="goToCars(item.id)">
        <img src="{{item.logo}}" alt="{{item.name}}">
        <p>{{item.name}}</p>
      </div>
    </section>
</div>



