
  <!-- <div class="iconb" (click)="goToMyCar()" style="position: fixed; right: 20px; z-index: 10;">
    <img height="80px" src="../assets/images/unnamed.png" alt="">
  </div> -->

  <!-- <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile  *ngFor="let item of cars" >
       <div  class="card-body">
        <ng-image-slider  [imageSize]="{width: 360, height: 210}"[images]="item.Images" #nav></ng-image-slider>
        <div style="display: flex; flex-direction: row;">
          <div style="display: flex; flex-direction: column;">
            <label class="text-white" for="{{item.Images[0].url}}">{{item.name}}</label>
            <label class="text-white" style="margin-bottom: 60px;">{{item.price}}</label>
          </div>
          <button (click)="goToBooking(item.id)"  color="primary" class="btn"  mat-raised-button>DETAILS</button>
        </div>


      </div>
    </mat-grid-tile>
  </mat-grid-list> -->



  <div class="container">
    <section

    class="grid"
    >
      <div class="content-grid" *ngFor="let item of cars" >
        <div class="image-container">
          <ng-image-slider  [imageSize]="{width: '100%'}"[images]="item.Images" #nav></ng-image-slider>
        </div>
        <div class="footer-image">
          <p>{{item.name}}</p>
          <button (click)="goToBooking(item.id)"  color="primary" class="btn"  mat-raised-button>DETAILS</button>
        </div>

      </div>
    </section>
  </div>

