/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// regular style toast


app-nav-component {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}


